.footer{
    display: flex;
    flex-direction: column;
    background-color: #031B34;
    padding: 196px 137px 103px;
    row-gap: 5rem;
    max-width: 1440px;
    
  }
  
  .footer .footer_header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer .footer_header .footer_header__top{
    text-align: center;
    
  }
  
  .footer .footer_middle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 180px;
  }
  
  .footer .footer_middle .req_access{
    border: 1px solid;
    font-size: 18px;
    border-color: #9b9b9b;
    color: #9b9b9b;
    background-color: transparent;
    padding: 20px 70px;
  }
  
  .footer .footer_middle button:hover{
    color: #000000;
    background-color: #fff;
    border-color: black;
  }
  
  .footer .footer_btm{
    display: flex;
    justify-content: space-between;
  }
  
  .footer .footer_btm .logo{
    flex-basis: 24%;
  } 
  
  .footer .footer_btm .logo .GPT-3_logo{
    padding: 0 0 23px;
  }
  
  .footer .footer_btm__right{
    display: flex;
    column-gap: 12rem; 
    justify-content: end;
    /* flex-basis: 68%; */
  }
  
  .footer .footer_btm .address{
    font-size: 12px;
    width: 68%;
  }
  
  .footer .footer_btm .footer_btm__right .bottom_links{
    margin: 0px 0px 34px;
    font-size: 14px;
    text-align: start;
    font-weight: 700;
  }
  
  .footer .footer_btm .footer_links .footer_info__links{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    text-align: start;
  }
  
  .footer .footer_btm .footer__company_info .footer_company__links{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    text-align: start;
  }
  
  .footer .footer_btm .footer__contact_info{
    width: 20%;
  }
  
  .footer .footer_btm .footer__contact_info .footer__contact_content{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    text-align: start;
  }
  
  .footer .footer_btm .footer_btm__right .footer__link{
    font-size: 12px;
    font-family: "ManropeLight";
    
  }
  
  /*© 2023 GPT-3. Все права защищены*/
  
  .law_protected {
    background-color: #020e1b;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  